             .about {
                 padding: 15vh 0 0;
                 .section-headline {
                     margin-bottom: 6rem;
                 }
                 p {
                     font-size: 1rem;
                 }
                 h1 {
                     font-weight: 300;
                     font-size: 1rem;
                 }
                 .skills {
                     display: flex;
                     justify-content: flex-end;
                     position: relative;
                     padding: 0rem 3.125rem 3.125rem;
                     .filler {
                         flex: 1 0 auto;
                         margin: 3rem 0 0 -15rem;
                         box-shadow: none;
                         &:before {
                             padding-top: 60%;
                         }
                         .loader {
                             left: 65%;
                         }
                     }
                     .skills_list {
                         align-self: flex-start;
                         max-width: 550px;
                         background: #fff;
                         box-shadow: -7px 0 15px 0px $gray1;
                         padding: 2rem;
                         left: 0;
                         display: flex;
                         flex-flow: column;
                         flex: 0 0 50%;
                         max-width: 550px;
                         z-index: 2;
                         p {
                             font-weight: 600;
                             font-size: 1.2rem;
                             font-family: 'Work Sans', sans-serif;
                             border-bottom: 1px solid $gray;
                             padding-bottom: 1rem;
                         }
                         ul {
                             display: flex;
                             flex-flow: column;
                             flex: 1 0 auto;
                             justify-content: space-between;
                         }
                         .list-item {
                             font-size: 0.8rem;
							}
							.list-item_text {
								display: inline-block;
								padding: 1.5rem 0;
							}
							.list-item_icon {
								display: none;
                         }
                     }
                 }
             }