html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: $gray3;
    font-family: 'Muli', sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    padding: 0;
}

a,
a:hover,
a:active,
a:focus {
    outline: 0;
    color: inherit;
    text-decoration: none;
}

.normalize {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 2rem;
}

.site-section {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.content-wrapper {
    position: relative;
    line-height: 2;
    text-align: center;
    padding: 6.125rem 3.125rem;
    margin: 0 auto;
}

.center-wrap {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    color: white;
}

.wrap--60 {
    max-width: 600px;
}

.section-headline {
    position: relative;
    z-index: 0;
    font-size: 1.23rem;
    line-height: 1;
    text-align: center;
    color: $galoreBlue;
    font-family: 'Work Sans', sans-serif;
    span {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            height: 2px;
            width: 3rem;
            top: 50%;
            background-color: $galoreBlue;
            left: -75%;
            transform: translateY(-50%);
        }
        &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 3rem;
            top: 50%;
            background-color: $galoreBlue;
            right: -75%;
            transform: translateY(-50%);
        }
    }
}

.social {
    color: #fff;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background: linear-gradient(45deg, $blueg1, $blueg2);
    &_item {
        padding: 0.8rem 1.2rem;
        line-height: 0rem;
        text-align: center;
        transition: transform 0.2s ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        transition: opacity 0.6s;
        &:hover {
            opacity: 1;
        }
        &:first-child>.icon-wrapper {
            vertical-align: top;
        }
        span {
            margin-left: 10px;
            font-size: 0.8rem;
        }
    }
    svg path {
        fill: inherit;
        height: inherit;
        width: inherit;
        stroke: inherit;
    }
    .icon-wrapper {
        height: 1.5rem;
        vertical-align: text-bottom;
        use {
            stroke: white;
            fill: white;
        }
    }
}

.loader {
    z-index: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50px;
    height: 50px;
    stroke: #fff;
    stroke-dasharray: 100;
    stroke-dashoffset: 800;
    animation: dash 6s linear forwards infinite;
}

.galore {
    display: block;
    overflow: hidden;
    box-shadow: 0 0 60px 0px $shadow;
    ;
    position: relative;
    background: $galoreBlue;
    &:before {
        display: block;
        content: "";
        width: 100%;
    }
  
    &.loading .image {
        opacity: 0;
    }
    &.loaded .image {
        opacity: 1
    }
    .image {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        transition: transform 1.5s, opacity 0.6s;
    }
}