@function generate-shadows($number) {
    $value: null;
    $value: '#{random(2000)}px #{random(2000)}px 1px #{$starColor}';
    @for $i from 2 through $number {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px 1px #{$starColor}';
    }
    @return unquote($value);
}

@mixin star($dimension) {
    width: $dimension;
    height: $dimension;
    background: transparent;
    @if $dimension=='6px' {
        box-shadow: #{generate-shadows(100)};
    }
    @else if $dimension=='2px' {
        box-shadow: #{generate-shadows(80)};
    }
    @else {
        box-shadow: #{generate-shadows(80)};
    }
}

.banner {
    overflow: hidden;
    background: linear-gradient(45deg, #03A9F4, #2a14a2);
    min-height: 100%;
    height: 100%;
    width: 100%;
    .star--s {
        @include star(6px);
        top: 0;
        border-radius: 50%;
        animation: animateStars 125s linear 1s infinite;
        opacity: 0;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            @include star(6px);
        }
    }
    .star--m {
        @include star(2px);
        top: 0;
        border-radius: 50%;
        animation: animateStars 100s linear infinite;
        opacity: 0;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            @include star(2px);
        }
    }
    .star--l {
        @include star(3px);
        top: 0;
        border-radius: 50%;
        animation: animateStars 200s linear 0.5s infinite;
        opacity: 0;
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            @include star(3px);
        }
    }
    .logo {
        height: 250px;
    }
    .title-spot {
        text-align: center;
        margin-bottom: 15px;
        .title {
            font-family: 'Carrois Gothic SC', sans-serif;
            letter-spacing: 3px;
            font-weight: 600;
            word-spacing: 3px;
            font-size: 2rem;
            margin: 3rem 0 2.2rem;
            padding: 0 0.4rem;
        }
        .adjectives {
            letter-spacing: 2px;
            background-color: #fff;
            color: $galoreBlue;
            font-weight: 400;
            line-height: 2;
            padding: 0.5rem 1rem;
            font-size: 1.05rem;
        }
    }
    .social--banner {
        position: relative;
        top: 3.8rem;
        .icon-wrapper {
            height: 1.2rem;
        }
    }
    @keyframes animateStars {
        0% {
            opacity: 0;
            transform: translateY(0)
        }
        5% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateY(-2000px)
        }
    }
}