$gray1: #292929;
$gray2: #090A0F;
$blue: #3aa2b7;
$green: #00FFC5;
$pink: #b04b62;
$bannerBg: #14a14d;
$contactBg: #fff;
$aboutBg: #fef8f8;
;
$starColor: #fcfcfc;
$blue1: #4b3dae;
$gray: #d8d8d8;
$gray1: #e6e4e4;
$gray3: #252424;
$blueg1: #03A9F4;
$blueg2: #2a14a2;
$galoreBlue: #2437af;
$shadow: #aba7a7;