.contact {
    padding: 7.5vh 0 0;
    .section-headline {
        margin-bottom: 6rem;
    }
    .social {
        flex-flow: row;
        bottom: 0;
        width: 100%;
        height: 10rem;
        align-items: center;
        margin-top: 6rem;
    }
    .mail-def {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        margin: 6rem auto 0;
        width: 75%;
        div {
            flex: 1 0 50%;
            font-size: 1.12rem;
            font-family: 'Work Sans', sans-serif;
            line-height: 2.5;
        }
        .phone {
            cursor: default;
            span {
                margin-right: 5px;
                &:first-child {
                    color: #65686b;
                }
            }
        }
    }
}