@media screen and (max-width: 1000px) {
    html {
        font-size: calc(12px + .4vw) !important;
    }
}


@media screen and (max-width: 840px) {
    .site-nav .top-logo svg {
        width: 50px;
        height: 50px;
    }
    .work .work_row .galore {
        &:before {
            padding-top: 72%
        }
        &.g_1 {
            display: none;
        }
        &.g_2 {
            flex: 1 0 100%;
            margin-top: 0rem;
        }
        &.g_3 {
            flex: 1 0 100%;
            order: 2;
            margin-top: 6rem;
        }
        &.g_4 {
            flex: 1 0 100%;
            order: 1;
            margin-top: 0rem;
        }
    }
    .about {
        .skills {
            flex-flow: column;
            .filler {
                margin: 3rem 0;
            }
            .skills_list {
                width: 80%;
                order: 2;
                margin: -30% auto 0;
                padding: 1.5rem;
                p {
                    text-align: center;
                }
                ul {
                    flex-flow: row;
                }
                .list-item_text {
                    display: none;
                }
                .list-item_icon {
                    display: inline-block;
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
    .work {
        .i--overlay {
            height: 36%;
            bottom: 0px !important;
            opacity: 1;
            top: auto;
            .title,
            .desc {
                opacity: 1;
                line-height: 1.2;
            }
        }
    }
    .work .galore {
        &:hover {
            .image {
                transform: scale(1);
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .work {
        .i--overlay {
            .center-wrap {
                top: 10px;
                left: 0;
                transform: translate(0, 0);
            }
            .title {
                font-size: 1rem;
                transform: translateY(0px);
            }
            .desc {
                font-size: 10px;
                transform: translateY(0px);
            }
        }
    }
}