.site-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    top: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
    transition: color 0.3s, background 0.3s, height 0.3s;
    align-items: center;
    color: white;
    height: 10rem;
    &.color {
        background: rgba(247, 247, 247, 0.4);
        height: 5.6rem;
        color: black;
        box-shadow: 1px 0 2px -1px $shadow;
        .top-logo {
            transform: scale(0.6);
            svg {
                stroke: $galoreBlue;
            }
        }
    }
    .top-logo {
        position: relative;
        display: inline-block;
        transform: scale(1);
        transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        svg {
            width: 90px;
            height: 90px;
            stroke: #fff;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &_list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        color: inherit;
        &__item {
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            line-height: 3.5rem;
            letter-spacing: 1.2px;
            margin-right: 4vw;
            &:last-child {
                margin-right: 0;
            }
            .nav-link {
                transition: all 0.4s;
                padding: 0.6rem 1rem;
                &:active,
                &:focus {
                    ouline: 0;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }
        .active {
            background-color: $galoreBlue;
            color: #fff;
            &:hover {
                opacity: 1;
            }
        }
    }
}