.work {
    height: auto;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fff;
    color: $gray3;
    padding: 15vh 0 7.5vh;
    .section_content {
        position: relative;
        line-height: 2;
        text-align: center;
        z-index: 2;
        padding: 6.125rem 3.125rem 3.125rem;
    }
    .work-list {
        &_item {
            font-size: 1.4rem;
            margin: 4.3rem 0 4.3rem 3.2rem;
            &:first-child {
                margin-top: 5.4rem;
            }
        }
    }
    .galore {
        &:hover {

			.i--overlay {
				opacity: 1;
			}
            .image {
                transform: scale(1);
			}
			
			.title {
				opacity: 1;
				transform: translateY(0);				
			}

			.desc {
				opacity: 1;
				transform: translateY(0);			
			}
        }
    }
    .i--overlay {
        z-index: 2;
        position: absolute;
        top: 0;
        background: linear-gradient(45deg, $blueg1, $blueg2);
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s;
        .center-wrap {
            justify-content: center;
        }
        .title {
            font-size: 1.8rem;
            font-weight: 600;
            font-family: 'Work Sans', sans-serif;
            margin: 0;
            padding: 0 3rem;
            opacity: 0;
            transform: translateY(10px);
            transition: opacity 0.6s, transform 0.6s;
            backface-visibility: hidden;
        }
        .desc {
            padding: 10px;
            margin: 0;
            opacity: 0;
            transform: translateY(10px);
            transition: opacity 0.6s 0.2s, transform 0.6s 0.2s;
            backface-visibility: hidden;
        }
    }
    .work_row {
        display: flex;
        flex-flow: row wrap;
        padding: 6rem 0 0;
        justify-content: space-between;
        align-items: flex-start;
        .width--f {
            width: 100%;
        }
        .g_1 {
            flex: 0 0 30%;
            margin-top: 4rem;
            &:before {
                padding-top: (780 / 450) * 100%;
            }
        }
        .g_2 {
            flex: 0 0 65%;
            &:before {
                padding-top: (720 / 960) * 100%;
            }
        }
        .g_3 {
            flex: 0 0 54%;
            &:before {
                padding-top: (525/ 700) * 100%;
            }
        }
        .g_4 {
            flex: 0 0 40%;
            margin-top: -6rem;
            &:before {
                padding-top: 110%;
            }
        }
        .el__1,
        .el__2,
        .el__3 {
            flex: 0 0 30%;
            height: 20rem;
        }
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 800;
    }
    100% {
        stroke-dashoffset: 0;
    }
}